<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title"><%= reqObj.playerDoc.displayName %></h4>
        <div class="col-sm-8">
            <div class="card-subtitle text-muted mb-2">Online: <%= `${reqObj.playerDoc.online}` %></div>
            <div class="card-subtitle text-muted mb-2">Faction:<%= `${reqObj.playerDoc.factionName}` %></div>
                <div class="card-subtitle text-muted mb-2">Faction Tag: <%= `${reqObj.playerDoc.factionTag}` %></div>
                <div class="card-subtitle text-muted mb-2">SteamID: <%= `${reqObj.playerDoc.steamID}` %></div>
                <div class="card-subtitle text-muted mb-2">* Level: <%= `${reqObj.playerDoc.promoteLevel}` %></div>
        </div>
        <div class="col-sm-4">
            <!-- For buttons later -->
        </div>
    </div>
</div>